{% extends 'base.html.twig' %}
{% block title %}Register Users{% endblock %}
{% block body %}
<div class="container">
    <div class="table-bordered m-1 p-3">
        <div class=" text-white text-center col-md-12 " style="background-color: #2e4a86">
            <h3>Register new user</h3>
        </div>
        <br>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {{ form_row(form.type) }}
        {{ form_row(form.profession) }}
        <button type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
