{% extends 'base.html.twig' %}
{% block title %}Show Complain Messages{% endblock %}
{% block body %}
<div class="container">
    {% if  complain %}
        <table class="table table-striped-table-bordered">
            <thead><tr><th>Full Name</th><th>Mobile</th><th>subject</th><th>Reference</th><th>Action</th></tr></thead>
        <tbody>
        {% for complaints in complain %}
            <tr><td>{{ complaints.FullName }}</td><td>{{ complaints.MobileNumber }}</td><td>{{ complaints.Subject }}</td><td>{{ complaints.Ref }}</td><td><a href="/complain-show/{{ complaints.id }}">Show</a></td></tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <div class="text-white bg-dark text-white">No Complain messages received yet</div>
    {% endif %}
</div>
{% endblock %}